
.masthead {
	padding: 30px 0 30px;
	margin-bottom: 0;
}

.masthead h1 {
	font-size: 75px;
	line-height: 1;
	letter-spacing: -2px;
	font-weight: bold;
}

.header-section {
	padding: 50px 0;
	background: #222;
	position: absolute;
	top: 40px;
	left: 0px;
	width: 100%;
	padding-left: 0;
	margin-left: 0;
	color: #FFF;
}

.header-row {
	width: 960px;
	margin: auto;
}

.header-push {
	height: 250px;
}

.main {
	padding-top: 20px;
	min-height: 370px;
}

.footer-left {
	float: left;
}

.footer-right {
	float: right;
}

.flashes {
	list-style-type: none;
	margin-left: 0;
}

.footer{
	background-color: #f8f8f8;
	height: 120px;
	position: static;
	bottom: 0px;
	left: 0px;
	width: 100%;
	margin-top: 50px;
	border-top: 1px solid #e7e7e7;
}

#landing {
	.category{
		text-align: center;
		
		a{
			font-size: 1.4em;
			color: #777 !important;
			text-decoration: none;
		}

		.category-image:hover{
			opacity: 0.7;
		}

		.category-image{
			height: 300px;
			background-color: #f8f8f8;
			margin: 2px;
		}

		.category-image h3 {
			position: relative;
			top: 140px;
		}
	}
}

#search {
	.result-wrapper{
		height: 300px;
	}
	.result{
		height: 90%;
		color: #FFF;
		background-size: 450px;
		margin: 2px;
	}
}
