{% extends "base.html" %}
{% block content %}

<div class="container-fluid productlist">
    <div class="row">
        <div class="col-sm-4">
            <a href="product1.html">
                <img src="img/accomodation.jpg" class="img-responsive" alt="item">
                <div class="productlist-label">
                    <span class="category-label-dark">Accomodation</span>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="product2.html">
                <img src="img/tools.jpg" class="img-responsive" alt="item">
                <div class="productlist-label">
                    <span class="category-label-light">Tools</span>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="product3.html">
                <img src="img/space.jpg"  class="img-responsive" alt="item">
                <div class="productlist-label">
                    <span class="category-label-light">Space</span>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="product1.html">
                <img src="img/vehicles.jpg" class="img-responsive" alt="item">
                <div class="productlist-label">
                    <span class="category-label-dark">Vehicles</span>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="product2.html">
                <img src="img/pets.jpg" class="img-responsive" alt="item">
                <div class="productlist-label">
                    <span class="category-label-dark">Pets</span>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="product3.html">
                <img src="img/music.jpg"  class="img-responsive" alt="item">
                <div class="productlist-label">
                    <span class="category-label-light">Musical Instruments</span>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="product1.html">
                <img src="img/electronics.jpg" class="img-responsive" alt="item">
                <div class="productlist-label">
                    <span class="category-label-light">Electronics</span>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="product2.html">
                <img src="img/clothes.jpg" class="img-responsive" alt="item">
                <div class="productlist-label">
                    <span class="category-label-dark">Clothes</span>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="product3.html">
                <img src="img/fun.jpg"  class="img-responsive" alt="item">
                <div class="productlist-label">
                    <span class="category-label-light">Fun</span>
                </div>
            </a>
        </div>
    </div>
    <div class="row" id="more-items">
        <div class="col-sm-4">
            <a href="product1.html">
                <img src="img/vehicles.jpg" class="img-responsive" alt="item">
                <div class="productlist-label">
                    <span class="category-label-dark">Vehicles</span>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="product2.html">
                <img src="img/tools.png" class="img-responsive" alt="item">
                <div class="productlist-label">
                    <span class="category-label-light">Tools</span>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="product3.html">
                <img src="img/space.jpg"  class="img-responsive" alt="item">
                <div class="productlist-label">
                    <span class="category-label-light">Space</span>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center show-more">
            <a href="#" class="btn btn-outline" id="showmore">Show more</a>
        </div>
    </div>
</div>
{% endblock %}